# =========================================================
# CHALET V1.6
# =========================================================


# =========================================================
# Visual Studio
# ---------------------------------------------------------
**/.vs/
*.~u
*.suo
*.user
*.userosscache
*.sln.docstates
# =========================================================



# =========================================================
# General build results
# ---------------------------------------------------------
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
# =========================================================



# =========================================================
# Temporary files
# ---------------------------------------------------------
*.[Cc]ache
*.pfx
# =========================================================



# =========================================================
# NuGet Packages
# ---------------------------------------------------------
*.nupkg
**/Packages/
# =========================================================



# =========================================================
# TwinCAT | System
# ---------------------------------------------------------
# Exclude build results
**/_Boot/
# Keep system configuration files
# **/_Config/
# Exclude license files
*.tclrs
# Exclude binaries
*.bin
# Exclude backups
*.bak
# Exclude type definiion (TwinCAT 2 notation)
*.tpy
# Exclude module definition (TwinCAT 3 notation)
*.tmc
*.tmcRefac
# Exception for event logger types manually stored here
!/TMC/*
# CAUTION: Add exception for TMC files if
# - Type system is stored in separate file
# - C/C++ sources are present in solution
# =========================================================


# =========================================================
# TwinCAT | PLC | Online Change
# ---------------------------------------------------------
**/_CompileInfo/
LineIDs.dbg
# =========================================================



# =========================================================
# TwinCAT | PLC | Libraries
# ---------------------------------------------------------
**/_Libraries/*
# Exception for Beckhoff Switzerland Libraries
!**/_Libraries/beckhoff ch/
# =========================================================



# =========================================================
# TwinCAT | HMI
# ---------------------------------------------------------
**/.engineering_servers/
**/json-schema.org/
liveview_*
*.cache
*.db-shm
*.db-wal
*.pid
.hmiframework/
.hmipkgs/*-*-*-*/
tchmipublish.journal.json
packages.config.updates
# =========================================================



# =========================================================
# TwinCAT | Vision 
# ---------------------------------------------------------
*.tcs
*.mp4
*.jpg
*.png
*.gif
*.bmp
# =========================================================



# =========================================================
# TwinCAT | C++ 
# ---------------------------------------------------------
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
# =========================================================